* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: clamp(20px, 1vw, 30px);
}

.red {
  height: 400px;
  width: 400px;
  background: red;
  font-size: 1rem;
}

.blue {
  margin-top: 10px;
  height: 50vh;
  width: 50vw;
  font-size: 2rem;
  background: blue;
}