* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
/*  here we will see align item 3 parts  */
.alginItem1,
.alginItem2,
.alginItem3,
.justifyContent1,
.justifyContent2,
.justifyContent3,
.justifyContent4,
.justifyContent5 {
  display: flex;
  height: 200px;
  border: 1px solid #000;
  margin-bottom: 30px;
}

.alginItem1 div,
.alginItem2 div,
.alginItem3 div,
.justifyContent1 div,
.justifyContent2 div,
.justifyContent3 div,
.justifyContent4 div,
.justifyContent5 div {
  height: 100px;
  width: 100px;
}
/* align-items: start */
.alginItem1 {
  align-items: flex-start;
}

/* align-items: center */
.alginItem2 {
  align-items: center;
}

/* align-items: end */
.alginItem3 {
  align-items: flex-end;
}
/* start */
.justifyContent1 {
  justify-content: flex-start;
}

/* center */
.justifyContent2 {
  justify-content: center;
}

/* end */
.justifyContent3 {
  justify-content: flex-end;
}

/* space-between */
.justifyContent4 {
  justify-content: space-between;
}

/* space-evenly */
.justifyContent5 {
  justify-content: space-evenly;
}
