* {
  margin: 0;
  padding: 0;

}

html,
body {
    background-color: black;
  width: 100%;
  height: 100%;
}
.box{
height: 100px;
width: 100px;
background-color: red;
border: 10px solid white;
/* this is how our border box make our box size still the fix did not change the size  */
box-sizing: border-box;

}
.box2{
    margin-top: 10px;
height: 100px;
width: 100px;
background-color: rgb(55, 0, 255);
border: 10px solid white;
}
.box3{
    margin-top: 10px;
height: 300px;
width: 300px;
background-image: url(https://i.pinimg.com/736x/75/79/41/757941b0e1b4e31bfb1620b3880fb732.jpg);
background-size: cover;
background-position: center bottom;
/* so this is how our rotate work also we have the translate property with it */
transform: rotateY(180deg);
transform: scale(2);
/* so scale means its size according to the orignal size
 */
box-shadow: 0 12px 30px rgba(247, 244, 244, 0.25);

}