* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgb(19, 18, 18), rgb(22, 22, 22));
    padding: 2px 20px;
    
}

section {
    height: 100%;
    width: 500px;
 

    margin: auto;
       
}

.allReels {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.allReels::-webkit-scrollbar{
    display: none;
}
.reels {
    margin-bottom: 20px;


    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
      scroll-snap-align: start;
       scroll-snap-stop: always;
}

.reels .bottom {
    padding: 20px 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;

}

.user h1 {
    font-size:  16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.719);

}

.user img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.user button {
    margin-top: 4px;
    padding: 5px 10px;
border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white
}

.right {
  
    position: absolute;
    right: 5%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 20px;
    cursor: pointer;
}
.right i {
    font-size: 2rem;
 
}
.right #liked{
    color: red;
}
.right .like {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.right .Comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right .share {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right h3{
    font-weight: 400;
}

.like i,
.like h3 {
  pointer-events: none;
}

.follow button {
      pointer-events: none;
}

.mute {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: white;
    padding: 10px 15px;
    z-index: 5;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(58, 56, 56, 0.452);
    border-radius: 50%;
    display: none;
    transition: all ease-in 2s;
}

.mute i {
     pointer-events: none;
}