* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1{
    rotate: 3deg;
    width: 45%;
    background-color: antiquewhite;
}
a{
    rotate: 3deg;
    width: 45%;
    background-color: red;
}

h2{
    background-color: blue;
    display: inline-block;
}
h3{
    background-color: pink;
    display: inline-block;
}
#main{
    height: 1000px;
    background-color: mistyrose;
}
.box{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-top: 10px;
}
/* now if we want to chnage the element without giving new class to the box we can do it like this  */

.box:nth-child(3){
    background-color: #fff;
    /* as we can see by this our 3rd child got change 
    same as this we can also done the 3n for changing the box which is multiple of 3 
    */
}
.main2{
     height: 1000px;
    background-color: rgb(25, 140, 155);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 60% 20%;
}
.child{
    border: 2px solid white;
}

.child:first-child {
  grid-column: 1 / -1;
}

/* footer */
.child:nth-last-child(1) {
  grid-column: 1 / -1;
  grid-row: 3;
}
.textdiv{
    height: 500px;
    background-color: rgb(19, 0, 0);
}
.textdiv p{
margin-top: 10px;
font-size: 100px;
background: linear-gradient(blue , red);
font-weight: 800;
background-clip: text;
color: transparent;
}